 .tanpa-bootstrap {
   border: none;
   padding: 20px;
   font-weight: 800;
   font-size: 3em;
   background-color: tomato;
   color: #333;
   cursor: pointer;
 }

 .tanpa-bootstrap:hover {
   background-color: aqua;
   color: black;
   transform: rotateY(2);
   transition: all .5s;
 }